/* Put your custom CSS here */
.left {
    margin-left: 0px;
    margin-right: 5px;
    float: left;
}

/* Possible bibliography numbering fix */
 /*
ol.bibliography { list-style: none; }
ol.bibliography { counter-reset: bib-item }
ol.bibliography li::before {
    content: '[' counter(bib-item) '] ';
    counter-increment: bib-item;
}*/


