---
---
{% comment %}{{ reference }}{% endcomment %}

<span id="{{ key }}">
{%- if entry.author_array.size < 4 -%}
    {%- for author in entry.author_array -%}
        {{ author.first }} {{ author.last }}
        {%- if entry.author_array.size > 1 -%}, {% endif -%}
    {%- endfor -%}
{%- endif %}
{{ entry.title }}.
{% if entry.author_array.size > 3 %}
    / 
    {% if entry.author_array.size == 4 -%}
        {%- for author in entry.author_array -%}
            {{ author.first }} {{ author.last }}
            {%- if author != entry.author_array.last %}, {% endif -%} 
        {%- endfor -%}
    {%- else -%}
    {{ entry.author_array[0].first }} {{ entry.author_array[0].last }}&nbsp;<em>et al. </em>
    {%- endif -%}
{%- endif -%}
{%- if entry.edition -%}Вид.&nbsp;{{ entry.edition }}. {% endif -%}
{%- if entry.note -%}{{ entry.note }} {% endif -%}
{%- if entry.address -%}{{ entry.address }}{%- if entry.publisher.size > 0 %} : {{ entry.publisher }}{% endif -%}, {{ entry.year }}. {% endif -%}
{%- if entry.pages %}{{ entry.pages }} с. {% endif -%}
{%- if entry.url -%}
    URL: <a href="{{ entry.url }}">{{ entry.url }}</a>{% if entry.accessed %} (дата звернення: {{ entry.accessed | date: "%d.%m.%Y" }}){%- endif -%}
{%- endif -%}
</span>